body, h1, h2, h3, h4, h5, h6 {
  font-family: Tahoma, "Trebuchet MS", sans-serif;
}

body {
     margin: 0%;
     height: 100%;
     width: 100%;
     padding: 0%;
 }
.header {
    width: 100%;
    height: 100%;
    margin-top: 3.6em;
    margin-bottom: 3.6em;
 }

 .container-fluid{
     width: 100%;
     height: 5%;
     color: lavenderblush;
 }

.vertical-menu {
    width: 22%; /* Set a width if you like */
    height: 100%;
    margin: 0%;
    padding: 0px;
    border:0%;
    display: block;
  }
  
  .vertical-menu a {
    background-color: rgb(39, 39, 39); /* Grey background color */
    color: rgb(255, 255, 255); /* Black text color */
    display: flex; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    height: 100%;
    margin: 0px;
    
  
  }
  
  .vertical-menu a:hover {
    background-color: rgb(255, 254, 254); /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: #063561; /* Add a green color to the "active/current" link */
    color: rgb(255, 248, 248);
    
  }
   
  .logo{
  
    width:17%;
    display: block;
    margin: 0px;
  }

  .footer {
    position: block;
    left: 0;
    bottom: 0%;
    width: 100%;
    height: 100px;
    background-color: #063561;
    color: white;
    text-align: center;
    
  }
  
  main{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0%;
    flex-wrap: wrap;
    
  }

  section{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0%;
  }
  .card{
    width: 35%;
    height: 121px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 25px;
    border: 0px;
    position: absolute;
  }
  
  .spotify {
    width: 15%;
    height: 90px;
    margin-left: 200px ;
    position: absolute;
  }
  